.row{
    display: flex;
    flex-direction: row;
}

.row.center{
    align-items: center;
    justify-content: center;
}

.screen{
    height: 100vh;
}

@media (max-width: 736px) {
    .screen{
        flex-direction: column;
    }
    .suggestions{
        width: 100%;
    }
}
