.firstDays{
    background: #DCE5EB;
    padding: 0 15px 25px;
    overflow: hidden;
}

.firstDays .step{
    padding: 10px 0;
    border-bottom: 1px solid #FFF;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.firstDays .step__number{
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    background: #71D1C6;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 7px;
}

.firstDays .step__content{
    flex: 1;
}